* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  outline: 0;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  /* scrollbar-color: #ff7d12 #222222; */
  scrollbar-color: #edeeef #222222;
  /* transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2), width 0.1s linear, min-width 0.1s linear, max-width 0.1s linear; */
}

.s {
  overflow: visible !important;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

.swal2-title,
.swal2-html-container,
.swal2-confirm,
.swal2-cancel {
  /* font-family: "sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue'"; */
  font-family: "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  font-family: sans-serif;
  
}

.swal2-shown .swal2-height-auto{
  padding-right: 0 !important;
} 

.custom-swal-popup {
  padding: 10px;
  /* Márgenes finos dentro del modal */
  max-width: 100%;
  /* Mantiene el modal dentro del ancho de la pantalla */
}

.custom-swal-width {
  max-width: 100%;
  /* El modal ocupará hasta el 90% del ancho de la pantalla */
  width: auto;
  /* Deja que el ancho se adapte al contenido */
}

.swal2-image {
  /* margin: 10px 5px; */
  padding: 10px 5px;
  width: 100%;
  /* La imagen ocupará todo el ancho del modal */
  height: auto;
  /* Mantendrá las proporciones originales */
  max-height: 80vh;
  /* Limita la altura máxima al 80% del viewport */
  object-fit: contain;
  /* Asegura que la imagen cubra toda el espacio disponible */
  object-position: center;
  /* Asegura que la imagen se escale sin recortes */
}

